<style>
    body {
        background-image: url("https://i.guim.co.uk/img/media/b4defe6118f997b95ed699fc83d5e13fd8aa49f0/105_370_4142_2486/master/4142.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=1831d70d613f90f704be760528624375");
        background-size: cover;
        background-position: center;
    }
    
    .me {
        background: rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 8px 8px rgb(49, 48, 48);
    }
    
    .adjust {
        text-align: center;
    }
    
    h2 {
        color: white;
        font-size: 35px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
    }
    
    h2 span {
        font-size: 55px;
        color: #f4c613;
        font-weight: 700;
    }
</style>

<body>
    <div class="me">
        <div class="container">

            <h2> Diary
                <span>EVENTS</span>
            </h2>
        </div>
        <br>
        <div class="container">

            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23D81B60&amp;ctz=Asia%2FKarachi&amp;src=NmlqcjZuc2gyNzluc2VvcDlxNDdzcmpsMzBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=Ym45cTQzMjEwanAwZjFhaWxsaDU5bDEwdmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23D50000&amp;color=%238E24AA&amp;showPrint=0&amp;showTabs=0"
                style="border:solid 1px #777" width="1100" height="500" frameborder="0" scrolling="no"></iframe>

        </div>

        <div class="container">
            <div class="adjust">
                <a class="btn btn-warning text-white btn-lg " role="button" href="http://localhost:4200/clients">Go Back</a>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>